<div class="container">
    <div id="products" class="row view-group">

      <% @books.each do |book| %>
        <div class="item col-xs-4 col-lg-4">
          <a href="<%= book_path(book) %>">
            <div class="thumbnail card">
                <div class="img-event">
                  <%= image_tag url_for(book.try(:img)), class: "group list-group-img img-fluid" %>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        <%= book.title %></h4>
                    <p class="group inner list-group-item-text">
                          <%= book.description %></p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                <%= book.author %></p>
                        </div>

                    </div>
                </div>
            </div>
          </a>
        </div>
        <% end %>
    </div>
</div>
<div class="mb-5" >.</div>
