-# = render 'form'
= form_with(url: orders_path, method: "post") do |f|

  %input{:type => "hidden", :value => "#{params[:book]}", name: "order[book_id]"}
  .field
    = f.label :name
    = f.text_field :name,  class: "form-control form-control-lg", name: "order[name]"
  .field
    = f.label :address
    = f.text_field :address, class: "form-control form-control-lg", name: "order[address]"
  .field
    = f.label :mobilenumber
    = f.text_field :mobilenumber, class: "form-control form-control-lg", name: "order[mobilenumber]"
  .field
    = f.submit 'Submit', :class => 'btn btn-primary mb-2'
