-# = render 'form'
= form_with model: @order, class: "nifty_form" do |f|
  %input{:name => "book_id", :type => "hidden", :value => "#{params[:book_id]}"}/
  .field
    = f.label :name
    = f.text_field :name,  class: "form-control form-control-lg"
  .field
    = f.label :address
    = f.text_field :address, class: "form-control form-control-lg"
  .field
    = f.label :mobilenumber
    = f.text_field :integer, class: "form-control form-control-lg"
  .field
    = f.submit 'Submit', :class => 'class="btn btn-primary mb-2"'
