<p id="notice"><%= notice %></p>

<h1>Books</h1>

<h2 class="current-category"><%= params[:category] %></h2>



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <div class="row">

    <% @books.each do |book| %>

    <div class="col-md-3">
    <a href="/books/<%= book.id %>">

    </a>
    </div>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= book.author %></td>
        <td><%= image_tag book.image.url(:medium), class:"book" %></td>
        <%= link_to 'New Book', new_book_path %>

        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      </div>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
