<div class="container-fluid mt-5">
  <div class="row mt-5 border">
    <div class="col-sm-5">
      <%= image_tag url_for(@book.try(:img)), class: "book-show my-4" %>
    </div>
    <div class="col-sm-7">
      <p class="mt-4">
        <strong>Title:</strong>
        <%= @book.title %>
      </p>

      <p class="mt-4">
        <strong>Description:</strong>
        <%= @book.description %>
      </p>

      <p class="mt-4">
        <strong>Author:</strong>
        <%= @book.author %>
      </p>
      <p class="mt-4">
        <%#=render 'rating' %>
        <%# <%= link_to "Add Review", new_book_review_path(@book) %>
      </p>
      <div class="row">
        <div class="col-md-4">
          <%= render '/reviews/review' %>
        </div>
      </div>
    </div>
  </div>
</div>
