<div class="container-fluid mt-5">
  <div class="row mt-5 border">
    <div class="col-sm-5">
      <%= image_tag url_for(@book.try(:img)), class: "book-show my-4" %>
    </div>
    <div class="col-sm-7">
      <p class="mt-4">
        <strong>Title:</strong>
        <%= @book.title %>
      </p>
      <p class="mt-4">
        <strong>Description:</strong>
        <%= @book.description %>
      </p>
      <p class="mt-4">
        <strong>Author:</strong>
        <%= @book.author %>
      </p>

      <p class="mt-4">
        <strong>Price:</strong>
        <%= @book.price %>
      </p>


      <p class="mt-4"></p>
      <div class="row">
        <div class="col-md-4">
          <%= render '/reviews/review' %>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <% if user_signed_in? %>
            <%= render '/books/rating' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
