!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BookReview
    = csrf_meta_tags
    = csp_meta_tag
    - if user_signed_in?
    - else
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js", :type => "text/javascript"}
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://blackrockdigital.github.io/startbootstrap-agency/vendor/fontawesome-free/css/all.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Kaushan+Script", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700", :rel => "stylesheet", :type => "text/css"}/
  %body
    = render 'layouts/navbar'
    %p.notice= notice
    %p.alert= alert
    .container.mb-5
      = yield
    = render 'layouts/footer'
